<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestion des Restaurants et des Menus</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<h1 class="page-title">Bienvenue dans l'application de Gestion des Restaurants et des Menus</h1>

<nav>
    <ul class="nav-list">
        <li><a href="/restaurants" class="button">Voir les Restaurants</a></li>
        <li><a href="/restaurants/ajouter" class="button">Ajouter un Restaurant</a></li>
        <li><a href="/menus" class="button">Voir les Menus</a></li>
        <li><a href="/menus/ajouter" class="button">Ajouter un Menu</a></li>
    </ul>
</nav>
</body>

</html>

